<div class="container-fluid">
  <div class="row justify-content-center align-items-center form-style-custom">
    <div class="col-6 " >
      <h2>Cree un compte</h2>
      <%= render "form" %>
    </div>
  </div>
</div>